<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LawVerse</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

  <header>
 {% include 'includes/header.html' %}
  </header>
  
  <section id="login" class="login">
    <h2><center>Login</center></h2>
    <form>
      <input type="email" placeholder="Email" required />
      <input type="password" placeholder="Password" required />
      <center><button type="submit">Login</button></center>
    </form>
  </section>
  <footer>
     {% include 'includes/footer.html' %}
  </footer>

</body>
</html>
